<%
# Redmine plugin for xmera called Project Types Relations Plugin.
#
# Copyright (C) 2017-19 Liane Hampe <liane.hampe@xmera.de>.
#
# This program is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public License
# as published by the Free Software Foundation; either version 2
# of the License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301, USA.
%>

<% unless @project.new_record?%>

<%= error_messages_for 'projects_relation' %>

<div class="box tabular">
	<%= form.fields_for :projects_relation do |type| %>
		<p> 
			<% if !related_projects_choice_set(@project.id).nil? %>
			<%= related_projects_multiselect(@project.id, related_projects_choice_set(@project.id).collect { |t|  [t.name, t.id] },:label_projects_relation)%> 
			<% else %>
			<%= type.label(:related_project,l(:label_projects_relation))%>	<%=l(:message_related_projects_choice_set) %> 
			<% end %>
		</p>
	<% end %>
</div>
<% end %>
