<%= error_messages_for 'projects_relation' %>

<div class="box tabular">
	<%= f.fields_for :projects_relation do |type| %>
		<p> 
			<% if !related_projects_choice_set(@project.id).nil? %>
			<%= related_projects_multiselect(@project.id, related_projects_choice_set(@project.id).collect { |t|  [t.name, t.id] },:label_projects_relation)%> 
			<% else %>
			<%= type.label(:related_project,l(:label_projects_relation))%>	<%=l(:message_related_projects_choice_set) %> 
			<% end %>
		</p>
	<% end %>
</div>